In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
conn = sqlite3.connect("sqlite_db_pythonsqlite.db")

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("""
        SELECT *
        FROM FACILITIES
        """)

In [5]:
rows = cur.fetchall()

In [6]:
for row in rows:
        print(row)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members

In [10]:
cur.execute("""
        SELECT  sum(Rev) AS Revenue_tot
    FROM (

SELECT 
	Facility_name, 
	CASE WHEN memid<> 0  THEN membercost*slots ELSE guestcost*slots END AS Rev

FROM (
SELECT
    Facilities.name AS Facility_name, guestcost, membercost,memid, slots
    FROM Bookings 
    LEFT JOIN Facilities
    USING(facid)) AS subquery 

) AS subquery2

GROUP BY Facility_name
HAVING (Revenue_tot<1000)
ORDER by Revenue_tot
        """)

In [11]:
questio10 = cur.fetchall()

In [12]:
for row in questio10:
        print(row)

(180,)
(240,)
(270,)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [121]:
cur.execute("""
SELECT 
  
  ( m2.firstname ||  " " || m2.surname) as Member,
  ( m1.firstname || " " ||m1.surname) as Recommended_By
FROM 
  Members m1
inner join 
  Members as m2  on m2.recommendedby = m1.memid 
order by Member,Recommended_By ASC
 """)

In [122]:
questio11 = cur.fetchall()

In [123]:
for row in questio11:
        print(row)

('Anna Mackenzie', 'Darren Smith')
('Anne Baker', 'Ponder Stibbons')
('Charles Owen', 'Darren Smith')
('David Jones', 'Janice Joplette')
('David Pinker', 'Jemima Farrell')
('Douglas Jones', 'David Jones')
('Erica Crumpet', 'Tracy Smith')
('Florence Bader', 'Ponder Stibbons')
('Gerald Butters', 'Darren Smith')
('Henrietta Rumney', 'Matthew Genting')
('Henry Worthington-Smyth', 'Tracy Smith')
('Jack Smith', 'Darren Smith')
('Janice Joplette', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('John Hunt', 'Millicent Purview')
('Matthew Genting', 'Gerald Butters')
('Millicent Purview', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Ponder Stibbons', 'Burton Tracy')
('Ramnaresh Sarwin', 'Florence Bader')
('Tim Boothe', 'Tim Rownam')
('Timothy Baker', 'Jemima Farrell')

Find the facilities with their usage by member, but not guests
Calculate the number of slots used by members for each facilities

In [157]:
cur.execute("""
SELECT sum(slots),Facilities.name
FROM Bookings
inner join Facilities on Facilities.facid = Bookings.facid
group by Bookings.facid
Having (memid <> 0)
 """)

In [158]:
questio12 = cur.fetchall()

In [159]:
for row in questio12:
        print(row)

(1320, 'Tennis Court 1')
(1209, 'Badminton Court')
(830, 'Table Tennis')
(1404, 'Massage Room 1')
(908, 'Snooker Table')
(910, 'Pool Table')

Find the facilities usage by month, but not guests

In [182]:
cur.execute("""
SELECT Facilities.name as facility_name,sum(slots) as usage,strftime('%Y %m',date(Bookings.starttime)) as month
FROM Bookings
inner join Facilities on Facilities.facid = Bookings.facid
group by Bookings.facid,month
Having (memid <> 0)
 """)

In [183]:
questio13 = cur.fetchall()

In [184]:
for row in questio13:
        print(row)

('Tennis Court 1', 270, '2012 07')
('Tennis Court 1', 459, '2012 08')
('Tennis Court 2', 483, '2012 08')
('Badminton Court', 180, '2012 07')
('Badminton Court', 459, '2012 08')
('Badminton Court', 570, '2012 09')
('Table Tennis', 104, '2012 07')
('Table Tennis', 304, '2012 08')
('Table Tennis', 422, '2012 09')
('Massage Room 1', 264, '2012 07')
('Massage Room 1', 492, '2012 08')
('Massage Room 1', 648, '2012 09')
('Massage Room 2', 82, '2012 08')
('Snooker Table', 156, '2012 07')
('Snooker Table', 326, '2012 08')
('Snooker Table', 426, '2012 09')
('Pool Table', 117, '2012 07')
('Pool Table', 322, '2012 08')
('Pool Table', 471, '2012 09')